@import "../../app.scss";

.div {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;
  .services {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 25px;
    @include mobile {
      padding-top: 100px;
      display: grid;
      justify-content: center;
      grid-template-rows: auto 1fr auto;
      gap: 50px;
      padding-left: 15px;
      padding-right: 15px;
    }

    .textContainer {
      flex: 1;
      align-self: flex-end;
      display: flex;
      align-items: center;

      @include mobile {
        text-align: center;
        flex-direction: column;
        grid-row: 3;
        justify-self: end;
      }

      p {
        font-weight: 200;
        font-size: 18px;
        color: #ebeded;
        text-align: right;
      }
      hr {
        width: 500px;
        border: none;
        border-top: 0.5px solid #ebeded;

        @include mobile {
          width: 300px;
        }
      }
    }

    .titleContainer {
      flex: 2;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include mobile {
        align-self: center;
      }

      .title {
        display: flex;
        align-items: center;
        gap: 30px;
        color: #ebeded;

        @include mobile {
          flex-direction: column;
          text-align: center;
          gap: 20px;
        }
        img {
          width: 250px;
          height: 100px;
          border-radius: 50px;
          object-fit: cover;
          @include mobile {
            display: none;
          }
        }
        h1 {
          font-size: 90px;
          font-weight: 100;
          @include mobile {
            font-size: 36px;
          }
        }
        button {
          width: 250px;
          height: 100px;
          border-radius: 50px;
          background-color: #324b4a;
          border: 0.5px solid white;
          color: white;
          font-size: 26px;
          @include mobile {
            display: none;
          }
        }
      }
    }

    .listContainer {
      flex: 2;
      display: flex;
      max-width: 1366px;
      margin: 0 auto;
      @include mobile {
        flex-direction: column;
        width: 100%;
        align-self: center;
      }

      .box {
        display: flex;
        padding: 25px;
        border: 0.5px solid #324b4a;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        color: #ebeded;
        h2 {
          font-weight: bold;
        }
        p {
          @include mobile {
            display: none;
          }
        }
      }
    }
  }
}
