.services {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 25px;

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;

    p {
      font-weight: 200;
      font-size: 18px;
      color: #ebeded;
      text-align: right;
    }
    hr {
      width: 500px;
      border: none;
      border-top: 0.5px solid #ebeded;
    }
  }

  .titleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      display: flex;
      align-items: center;
      gap: 30px;
      color: #ebeded;
      img {
        width: 250px;
        height: 100px;
        border-radius: 50px;
        object-fit: cover;
      }
      h1 {
        font-size: 90px;
        font-weight: 100;
      }
      button {
        width: 250px;
        height: 100px;
        border-radius: 50px;
        background-color: #324b4a;
        border: 0.5px solid white;
        color: white;
        font-size: 26px;
      }
    }
  }

  .listContainer {
    flex: 2;
    display: flex;
    max-width: 1366px;
    margin: 0 auto;

    .box {
      display: flex;
      padding: 25px;
      border: 0.5px solid #324b4a;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      color: #ebeded;
      h2 {
        font-weight: bold;
      }
    }
  }
}
