@import "../../app.scss";

.hero {
  height: calc(100vh - 100px);
  height: calc(100dvh - 100px);
  background: linear-gradient(180deg, #0c0c1d, #111132);
  overflow: hidden;
  position: relative;

  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include mobile {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      transform: translateY(-5%) !important;
    }

    .imageContainer {
      z-index: 2;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      @include mobile {
        display: none;
      }
      img {
        height: 100%;
      }
    }

    .textContainer {
      margin: 0 auto;
      z-index: 2;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;

      @include mobile {
        height: 100%;
        text-align: center;
        align-items: center;
      }

      h2 {
        font-size: 30px;
        color: #475d5c;
        text-transform: uppercase;
        letter-spacing: 10px;

        @include mobile {
          font-size: 20px;
        }
      }

      h1 {
        font-size: 88px;
        color: #ebeded;
        @include mobile {
          font-size: 50px;
        }
      }
      .buttons {
        display: flex;
        gap: 20px;

        @include mobile {
          flex-direction: column;
        }

        a {
          padding: 20px;
          border: 1px solid #324b4a;
          border-radius: 10px;
          background-color: transparent;
          color: #ebeded;
          cursor: pointer;
          font-weight: 300;

          &:last-child {
            background-color: #324b4a;
            border: 1px solid #ebeded;
          }
          @include mobile {
            padding: 15px;
            font-size: 15px;
          }
        }
      }

      img {
        width: 50px;
      }
    }

    .slidingTextContainer {
      position: absolute;
      font-size: 50vh;
      font-size: 50dvh;
      bottom: -60px;
      white-space: nowrap;
      color: #324b4a4e;
      width: 50%;
      font-weight: bold;
      z-index: 1;
    }
  }
}
