@import "../../app.scss";
.portfolio {
  position: relative;
  .progress {
    z-index: 2;
    position: sticky;
    top: 0;
    left: 0;
    padding: 50px;
    text-align: center;
    color: #ebeded;
    font-size: 36px;
    @include mobile {
      padding-top: calc(100dvh - 100px);
      font-size: 24px;
      padding-left: 10px;
      padding-right: 10px;
    }

    h1 {
      /* Fallback: Set a background color. */
      background-color: #324b4a;

      /* Create the gradient. */
      background-image: radial-gradient(
        circle,
        rgba(235, 237, 237, 1) 0%,
        rgba(50, 75, 74, 1) 48%
      );

      /* Set the background size and repeat properties. */
      background-size: 100%;
      background-repeat: repeat;

      /* Use the text as a mask for the background. */
      /* This will show the gradient as a text color rather than element bg. */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
    }

    .progressBar {
      height: 10px;
      background: rgb(235, 237, 237);
      background: radial-gradient(
        circle,
        rgba(235, 237, 237, 1) 0%,
        rgba(50, 75, 74, 1) 68%
      );

      @include mobile {
      }
    }
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    @include mobile {
      padding-top: 80px;
    }
    .wrapper {
      max-width: 1366px;
      height: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
      transform: translateY(50px);

      @include mobile {
        flex-direction: column;
        transform: translateY(0);
      }
      .imgContainer {
        flex: 1;
        height: 50%;
        @include mobile {
          z-index: 2;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 5%;
          @include mobile {
            max-height: 300px;
            object-fit: contain;
            padding-left: 10px;
            padding-right: 10px;
          }
        }
      }
      .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: #ebeded;
        @include mobile {
          position: absolute;
          bottom: -10%;
          padding-left: 5px;
          padding-right: 5px;
        }
        h2 {
          font-size: 72px;
          @include mobile {
            font-size: 45px;
            text-align: center;
          }
        }
        p {
          font-size: 20px;
          @include mobile {
            text-align: center;
          }
        }
        ul {
          font-size: 20px;
          display: flex;
          flex-direction: column;
          gap: 4px;
          margin-bottom: 20px;
          @include mobile {
            padding-left: 20px;
          }

          li {
            margin-left: 20px;
            &:first-child {
              margin-top: 5px;
            }
            &::marker {
              color: #324b4a;
            }
          }
        }
        a {
          display: block;
          text-align: center;
          background-color: #324b4a;
          color: #ebeded;

          border-radius: 10px;
          width: 200px;
          padding: 10px;
          cursor: pointer;
          @include mobile {
            align-self: center;
          }
        }
      }
    }
  }
}
