@import "../../app.scss";
.contact {
  height: 100%;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  color: #ebeded;

  @include mobile {
    flex-direction: column;
    gap: 40px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    @include mobile {
      flex: 0;
    }

    h1 {
      font-size: 100px;
      line-height: 88px;
      @include mobile {
        font-size: 50px;
        line-height: 50px;
      }
      span {
        color: #324b4a;
        font-size: 100px;
        line-height: 88px;
        font-weight: bold;
        @include mobile {
          font-size: 50px;
          line-height: 50px;
        }
      }
    }
    h2 {
      margin-bottom: 5px;
      @include mobile {
        font-size: 20px;
      }
    }
    span {
      font-weight: 300;
      @include mobile {
        font-size: 16px;
      }
    }
  }
  .formContainer {
    position: relative;
    flex: 1;
    @include mobile {
      width: 100%;
    }

    .phoneSvg {
      z-index: -1;
      stroke: #324b4a;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      svg {
        @include mobile {
          width: 80vw;
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      button {
        padding: 20px;
        border: none;
        background-color: #324b4a;
        color: #ebeded;
        font-weight: 500;
        font-size: 16px;
        @include mobile {
          padding: 15px;
        }
      }
    }

    input,
    textarea {
      padding: 20px;
      background-color: transparent;
      border: 1px solid #324b4a;
      border-radius: 5px;
      color: #ebeded;
      &::placeholder {
        color: #ebeded;
        font-size: 16px;
      }
    }
  }
}
