.navbar {
  height: 100px;
  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    padding: 0 15px;
  }

  img,
  svg {
    width: 30px;
  }
  .social {
    display: flex;
    gap: 20px;
  }
}
