html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  @media (max-width: 738px) {
    scroll-behavior: auto;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", "Roboto";
}
body {
  background-color: #0c0c1d;
  color: lightgray;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  height: 100dvh;
  scroll-snap-align: start;
}

::-webkit-scrollbar {
  width: 4px;
  height: 3px;
  border-radius: 2px;
  &-track {
    background: #09090a;
  }
  &-thumb {
    background: #475d5c;
    border-radius: 50px;
    &:hover {
      background: #2a3b3a;
    }
  }
}

@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 1366px) {
    @content;
  }
}
